body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    margin: -8px -8px 0px;
    
    /* border: 1px solid red; */
}
header{
    display: flex;
    background: rgb(78, 77, 77);
    justify-content: space-between;
    width: 100%;
    height: 60px;
    position: fixed;
}
header div{
    margin-top: 10px;
    margin-left: 50px;
    font-size: 30px;
    /* border: 1px solid red; */
}
header div a{
    text-decoration: none;
    color: antiquewhite;
}
header nav ul{
    display: flex;
    list-style-type: none;
}
li button {
    background: rgb(226, 220, 220);
    border: 1px solid rgb(226, 220, 220);
    padding: 5px;
    border-radius: 5px;
    margin-top: -5px;
    color: black;
    font-size: 19px
}

ul li a{
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
li a:hover{
    color: rgb(159, 79, 235);
}
li button:hover, li button:focus{
    border: rgb(159, 79, 235);
}

#bg-img img{
    /* border-radius: 10px; */
    margin-top: 50px;
    width: 100%;
    height: 450px;
}
h2#welcome{
    text-align: center;
    padding-top: 30px
}

#note{
    padding: 30px;
    line-height: 25px
}

footer{
    background: rgb(78, 77, 77);
    height: 70px;
    text-align: center;
    color: white;
    margin-bottom: -10px;
    padding-top: 20px;
}
label{
    /* border: 1px solid red; */
    width: 120px;
    font-size: 20px;
    font-weight: bold;
}
.input-groups{
    display: flex;
    padding-top: 30px;

}
input.text-field,select,input[type="date"], input.countryState{
    width: 100%;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}
input[type="radio"],input[type="checkbox"]{
    margin-left: 50px;
}
input[type="file"]{
    /* margin-bottom: 20px; */
    width: 100%;
    font-size: 28px;
    margin-left: 55px;
}

.btn-submit, .btn-signup{
    background: rgb(67, 233, 117);
    border: 1px solid rgb(67, 233, 117);
    padding: 10px;
    border-radius: 5px;
    margin: 30px;
    font-size: 20px;
    /* border: 1px solid red; */
}
button a{
    text-decoration: none;
    color: black
}
span a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(50, 6, 92);
}
span a:hover{
    color: black;
}
#forgot-password{
    margin-left: 130px;
    margin-top: -30px;
}
#modal-div{
    /* border: 1px solid red; */
    /* display: none; */
    width: 50%;
    height: 50%;
    position: fixed;
    right: 0px;
    top: 100px;
    z-index: 1;
}
#modal-content{
    background: rgb(219, 215, 215);
    /* margin: auto; */
    padding: 0 0 20px 20px;
    width: 80%;
    border-radius: 30px;
    position: relative;
    right: -90px;
    -webkit-animation-name: topanimation;
    -webkit-animation-duration: 0.4s;
    animation-name: topanimation;
    animation-duration: 0.8s
   
}

@-webkit-keyframes topanimation {
    from {top:-100px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes topanimation {
    from {top:-100px; opacity:0}
    to {top:0; opacity:1}
  }
#close{
    float: right;
    color: white;
    font-size: 28px;
    font-weight: bold;
    background-color: red;
    padding: 5px;
    height: 27px;
    border-top-right-radius: 30px
}

span#close:hover{
    cursor: default;
    
}


/* styling for account-profile page below */
#signup-form{
    margin: 100px auto;
    width: 80%;
    border-radius: 10px; 
    border: 1px solid rgb(78, 77, 77);
}
.account-div{
    display: flex;
    margin-top: 30px;
    padding-left:30px;
}
#col1{
    /* border: 1px solid red; */
    width: 50%;
}
#col2{
    /* border: 1px solid red; */
    width: 80%;
    margin-left: -70px;
    margin-bottom: 20px
}
#name{
    margin-top: -50px;
    padding: 20px 0px;
    text-align: center;
    /* border: 1px solid red; */
    /* width: 100%; */
}
table#table,table#record-table,table#active-not,div#delete-account,
div #credit-acct, div #debit-acct
{
    display:none;
}
/* ul#hideThis{
    display: none;
}
ul#hideThis li{
    list-style: none;
    line-height: 2em;
    font-size: 25px;
    font-weight: 400;
} */
table#table{ 
    width: 100%;
    margin-left: -30px;
    border: none;
}
table, th,td{
    border: 2px solid black;
    border-collapse: collapse;
    /* margin-top: -30px  */
}
td{
   padding:0px 20px
}
#table .details{
    width: 60%;
    font-size: 20px; 
}
ul.details-list{
    list-style: circle;
    line-height: 2em;
}

/* admin/staff account creation*/
.account-header{
    background: rgb(78, 77, 77);
    color: white;
    border-radius: 10px; 
    border: 1px solid rgb(78, 77, 77);
    font-size: 15px;
}
div.account-header h2{
    font-weight: 600;
    display: inline-block
}


/* account profile*/
#logout{
    background: rgb(220, 53, 69);
    border: 1px solid rgb(220, 53, 69);
    padding: 5px;
    border-radius: 5px;
    margin-top: -5px;
    color: white;
    font-size: 19px
}
.btn-activate{
    background: rgb(67, 233, 117);
    border: 1px solid rgb(67, 233, 117);
    padding: 10px;
    border-radius: 5px;
    margin: 30px;
    font-size: 20px;
    color: white;
    font-weight: bold
}
.btn-deactivate{
    background: rgb(220, 53, 69);
    border: 1px solid rgb(220, 53, 69);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

/* staff page */
#nav-bar div h2{
    margin-top:-10px;
    padding-right: 150px;
    color: white;
    margin-right: 250px;
}
 .staff-account-div{
    display: flex;
    margin-top: -45px;
    height: 500px;
    /* padding-left:30px; */
    /* border: 1px solid red; */
    margin-left: -150px;
    margin-bottom: -100px
}
#bank-record p span{
    text-decoration: underline;
    cursor: pointer;
}
#column1 p a{
    color: rgba(234, 235, 241, 0.945);
    text-decoration: none;
    line-height: 2em
}
#column1{
    padding: 50px;
    width: 15%;
    background: rgb(78, 77, 77);
}
#column2{
    width: 85%;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 50px;
    /* border: 1px solid red; */
}
.account-table td{
    line-height:8px;
}
#bank-record{
    display: none;
    margin-top: -30px;
 }
 table#record-table{
     width: 100%;
 }
 #record-table td{
    padding: 10px
 }
 table#active-not{
    border: none;
 }
 #active-not th.details,#record-table th.details{
     width: 50%
     /* padding-left: 90px */
 }
